@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque:300,400,500,600,700,800,900&display=swap');

body {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 18px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
header.header {
  padding: 25px;
  background: #414c41;
}
.mainmenu a:hover:after {
  position: absolute;
  content: "";
  left: 50%;
  background: #fff;
  color: #ffff;
  height: 2px;
  width: 30px;
  bottom: 6px;
  margin-left: -15px;
}

 a:hover {
  text-decoration: none;
  color:#fff
}
.content-block {padding: 20px 0px;}

a.d-block img {
    max-width: 100%;
}
.row.top-heading {
  margin: 20px 0;
}
h2 {
    padding: 15px;
    font-weight: 900;
    font-size: 40px;
}

a.d-block h4 {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5px 0;
  margin: 0;
}
a.logo {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  text-transform: none
}
.mainmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  display: inline-block;
}
 a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 600;
  position: relative;
}

input[type="text"] {
  border: 1px solid #ddd;
  padding: 5px 20px;
}

input[type="submit"] {
  background: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 5px 25px;
}

.copyright-text {
  padding: 15px 0;
}

.photo-wrapper {
  height: 190px;
  object-fit: cover;
}
.single-photo-item {
  margin-bottom: 30px;
}
.photo-wrapper img, .photo_single_wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom:10px
}
.photo_single_wrapper {
  position: relative;
}
.photo-img-n {
  height: 800px;
  background-color: #ddd;
}

.photo_single_info {
  position: absolute;
  background: #fff;
  left: 5%;
  width: 35%;
  top: 5%;
  padding: 20px;
  font-size: 20px;
}
.photo_single_info ul li{
  border-bottom: 1px solid #ddd;
  display: block;
}
.photo_single_info a img{
  max-width: 50px;
  display: inline-block;
  float: right;
  position: absolute;
  right: 38px;
  top: 3px;
}
.photo_single_info a{
  left: 30px;
  color: #14dc1a;
}
.footer-menu a{
  color:#000
}